{% extends 'users/profile_base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans 'Change password' %} &mdash; {{ edited_user.username }}{% endblock %}

{% block main %}
    <p>{% trans "Raw passwords are not stored, so there is no way to see this user's password, but you can set a new password." %}</p>

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        {% bootstrap_form form layout='horizontal' %}

        {% buttons layout='horizontal' %}
            <button type="submit" class="btn btn-default">
                {% trans 'Save' %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
