{% load bootstrap3 %}
{% load i18n %}

{% bootstrap_form_errors form %}

<div class="row">
    <div class="col-md-6">
        {% bootstrap_field form.description %}
    </div>
    <div class="col-md-6">
        <table class="ir-test-limits">
            <tbody>
                <tr>
                    <td>{% trans 'Score' %}</td>
                    <td>{% bootstrap_field form.points show_label=False %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Time limit' %}&nbsp;({% trans 's' %})</td>
                    <td>{% bootstrap_field form.time_limit show_label=False %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Memory limit' %}&nbsp;({% trans 'MB' %})</td>
                    <td>{% bootstrap_field form.memory_limit show_label=False %}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
