{% extends 'problems/base.html' %}

{% load bootstrap3 %}
{% load irunner_problems %}
{% load i18n %}

{% block main %}

{% bootstrap_messages %}

{% csrf_token %}

<p>
    <a href="{% url 'problems:new_test' problem.id %}{{ navigator.query_string }}" class="btn btn-default">
        {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'New test case' %}</span>
    </a>
    <a href="{% url 'problems:upload_archive' problem.id %}{{ navigator.query_string }}" class="btn btn-default">
        {% bootstrap_icon 'gift' %} <span class="ir-icon-label">{% trans 'New tests from archive' %}</span>
    </a>
</p>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" id="selectall"></th>
            <th>{% trans '#' %}</th>
            <th>{% trans 'Input' %}</th>
            <th>{% trans 'Output' %}</th>
            <th>{% trans 'Score' %}</th>
            <th>{% trans 'Time limit' %}</th>
            <th>{% trans 'Memory limit' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for tc in test_cases %}
        <tr>
            <td><input type="checkbox" class="ir-checkbox" name="{{ tc.ordinal_number }}"></td>
            <td><a href="{% url 'problems:show_test' problem.id tc.ordinal_number %}{{ navigator.query_string }}">{% trans 'Test' %}&nbsp;{{ tc.ordinal_number }}</a></td>
            <td>
                <a href="{% url 'problems:test_input_open' problem.id tc.ordinal_number %}" title="{% trans 'Open' %}">{% bootstrap_icon 'open-file' %}</a>
                <a href="{% url 'problems:test_input_download' problem.id tc.ordinal_number %}" title="{% trans 'Download' %}">{% bootstrap_icon 'download-alt' %}</a>
                <span class="ir-file-size">[{{ tc.input_size|filesizeformat }}]</span>
            </td>
            <td>
                <a href="{% url 'problems:test_answer_open' problem.id tc.ordinal_number %}" title="{% trans 'Open' %}">{% bootstrap_icon 'open-file' %}</a>
                <a href="{% url 'problems:test_answer_download' problem.id tc.ordinal_number %}" title="{% trans 'Download' %}">{% bootstrap_icon 'download-alt' %}</a>
                <span class="ir-file-size">[{{ tc.answer_size|filesizeformat }}]</span>
            </td>
            <td>{{ tc.points }}</td>
            <td>{% irunner_problems_timelimit tc.time_limit %}</td>
            <td>{% irunner_problems_memorylimit tc.memory_limit %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>
    <button onclick="irPerformActionOnSelected('{% url 'problems:tests_mass_time_limit' problem.id %}{{ navigator.query_string }}')" class="btn btn-default btn-sm ir-checkbox-driven" disabled>
        {% bootstrap_icon 'ok' %} <span class="ir-icon-label">{% trans 'Set time limit' %}</span>
    </button>
    <button onclick="irPerformActionOnSelected('{% url 'problems:tests_mass_memory_limit' problem.id %}{{ navigator.query_string }}')" class="btn btn-default btn-sm ir-checkbox-driven" disabled>
        {% bootstrap_icon 'ok' %} <span class="ir-icon-label">{% trans 'Set memory limit' %}</span>
    </button>
</p>

<script>
    jQuery(document).ready(function($) {
        irSetUpSelectAll();
    });
</script>
{% endblock %}
