{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_cache %}
{% load irunner_courses %}
{% load irunner_courses %}
{% load irunner_solutions %}
{% load irunner_problems %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'bootstrap-sortable/bootstrap-sortable.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-sortable/bootstrap-sortable.js' %}"></script>
{% endblock %}

{% block subtitle %}{% trans 'Assignment of problems' %}{% endblock %}

{% block main %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#studentList">
                {% if current_student %}
                    {{ current_student.as_html|safe }}
                {% else %}
                    {% trans 'Students' %}
                {% endif %}
            </a>
        </h4>
    </div>

    <div class="panel-collapse collapse{% if not current_student %} in{% endif %}" id="studentList">
        <div class="panel-body">
            <ul>
                {% for user_descr in student_list %}
                    <li><a href="{% url 'courses:course_assignment' course.id user_descr.id %}">{{ user_descr.as_html|safe }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% if data %}

<table class="table table-bordered ir-assignment">
    <tbody>
        {% for topic_repr in data.topic_reprs %}
            {% with topic_repr.topic_result.get_slot_and_penalty_results as joint_results %}
                {% for slot_result in joint_results %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ joint_results|length }}" class="ir-topic">
                                <div class="ir-topic-name">
                                    {{ topic_repr.topic_result.topic_descr.topic.name }}
                                </div>
                            </td>
                        {% endif %}

                        <td class="ir-slot-cell">
                            {% if slot_result.is_penalty %}
                                <div class="bg-warning text-warning ir-penalty-p">
                                    {% trans 'Extra problem' %}
                                    <div class="pull-right">
                                        <form method="post" action="{% url 'courses:course_assignment_delete_penalty' course.id current_student.id slot_result.assignment.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-default btn-xs">
                                                {% trans 'Remove' %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}

                            {% irunner_courses_slotresult slot_result course.id editable=True %}

                            {# List of problems for topic to choose from #}
                            <div class="collapse ir-slider" id="problems_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                                <div class="ir-fake-panel">
                                    <h4>{% trans 'Select a problem to assign' %}</h4>
                                    <table class="sortable ir-topic-problems-list table-hover">
                                        <thead>
                                            <tr>
                                                <th>{% trans 'level' %}</th>
                                                <th data-defaultsort="disabled"></th>
                                                <th>{% trans '#' %}</th>
                                                <th class="ir-full-width">{% trans 'name' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% trans 'Assign' as assign_tooltip %}
                                            {% trans 'Statement' as statement_tooltip %}
                                            {# Table is shifted left to reach smaller page size (no whitespaces). #}

{% for problem_repr in topic_repr.problem_reprs %}{% with problem_repr.problem as problem %}
<tr{% if problem_repr.used %} class="ir-problem-used"{% endif %}>
    <td>{% irunner_problems_difficulty problem.difficulty %}</td>
    <td><a href="{% url 'courses:course_problems_problem' course.id problem.id %}" title="{{ statement_tooltip }}" target="_blank">{% bootstrap_icon 'file' %}</a></td>
    <td><a href="#" role="button" class="ir-choose-button" data-problem="{{ problem.id }}" title="{{ assign_tooltip }}">{{ problem.get_formatted_number }}</a></td>
    <td class="ir-full-width"><a href="#" role="button" class="ir-choose-button" data-problem="{{ problem.id }}" title="{% trans 'Assign' %}">{{ problem.full_name }}</a></td>
</tr>
{% endwith %}{% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <button type="button" class="btn btn-default btn-xs ir-cancel-button">{% trans 'Cancel' %}</button>
                                    <button type="button" class="btn btn-default btn-xs ir-choose-button">{% trans 'Reset' %}</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </tbody>
</table>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#penalty">
                {% trans 'Extra problems' %}
            </a>
        </h4>
    </div>

    <div class="panel-collapse collapse" id="penalty">
        <div class="panel-body">
            <form method="post" action="{% url 'courses:course_assignment_new_penalty' course.id current_student.id %}" class="form-horizontal">
                {% csrf_token %}
                {% bootstrap_form extra_form layout='horizontal' %}
                {% buttons layout='horizontal' %}
                    <button type="submit" class="btn btn-default">
                        {% trans 'Add' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% if common_problem_results %}
    <table class="table table-bordered ir-assignment">
        <tbody>
            {% for problem_result in common_problem_results %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ common_problem_results|length }}" class="ir-topic">
                            <div class="ir-topic-name">
                                {% trans 'Common problems' %}
                            </div>
                        </td>
                    {% endif %}
                    <td>
                        {% irunner_courses_problemresult problem_result course.id %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<script>
    function makeSlotParams(slotResultDiv) {
        var params = {
            "csrfmiddlewaretoken": "{{ csrf_token }}"
        };
        $.each(slotResultDiv.data(), function(i, e) {
            params[i] = e;
        });
        return params;
    }

    function assignProblem(event) {
        if (event) {
            event.preventDefault();
        }

        var div = $(this).parents(".ir-slot-cell").first().find(".ir-slot-result").first();
        var params = makeSlotParams(div);
        var problemId = $(this).data("problem");
        if (problemId) {
            params["problem"] = problemId;
        }
        $.post("api/problem/", params).done(function(response) {
            div.html(response);
        });

        var divWithProblems = $(this).parents(".ir-slider");
        divWithProblems.collapse("hide");
    }

    function toggleCriterion() {
        var criterionDiv = $(this);
        var div = criterionDiv.parents(".ir-slot-cell").first().find(".ir-slot-result").first();
        var params = makeSlotParams(div);
        params["criterion"] = criterionDiv.data("criterion");

        var state;
        if (criterionDiv.hasClass("ir-criterion-no")) {
            state = false;
        }
        if (criterionDiv.hasClass("ir-criterion-yes")) {
            state = true;
        }

        if (state === false || state === true) {
            criterionDiv.removeClass("ir-criterion-no");
            criterionDiv.removeClass("ir-criterion-yes");
            params["ok"] = state ? 0 : 1;

            $.post("api/criterion/", params).done(function(response) {
                var ok = Boolean(response.ok);
                if (ok === false) {
                    criterionDiv.addClass("ir-criterion-no");
                }
                if (ok === true) {
                    criterionDiv.addClass("ir-criterion-yes");
                }
            });
        }
    }

    $(document).ready(function() {
        $(".ir-cancel-button").click(function() {
            var divWithProblems = $(this).parents(".ir-slider");
            divWithProblems.collapse("hide");
        });
        $(document).on("click", ".ir-assign-button", function() {
            var divWithProblems = $(this).parents("td").first().find(".ir-slider");
            divWithProblems.collapse("toggle");
        });
        $(document).on("click", ".ir-criterion-editable", toggleCriterion);
        $(".ir-choose-button").click(assignProblem);
    });
</script>

{% endif %}

{% endblock %}
