{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_messagebox %}
{% load staticfiles %}

{% block head %}
    {% if edit_mode %}
        <script src="{% static 'mindmup-editabletable.js' %}"></script>
    {% endif %}
{% endblock %}

{% block subtitle %}{% trans 'Sheet' %}{% endblock %}

{% block main %}

{% if edit_mode %}
    {% irunner_messagebox 'warning' %}
        {% trans 'Edit mode is on.' %} {% trans 'All changes are saved automatically.' %}
        <a href="{% url 'courses:course_sheet' course.id %}">{% trans 'Return to view mode (read-only).' %}</a>
    {% irunner_endmessagebox %}
{% endif %}

<table class="ir-sheet" id="sheet">
    {% with data.course_descr.get_main_activities as main_activities %}
        {% with data.course_descr.get_extra_activities as extra_activities %}
            <thead>
                <tr>
                    <th rowspan="3">{% trans '#' %}</th>
                    <th rowspan="3">{% trans 'Student' %}</th>
                    {% if main_activities %}
                        <th colspan="{{ main_activities|length }}">Оценка по виду деятельности</th>
                    {% endif %}

                    {% if not edit_mode %}
                        <th rowspan="3">Оценка текущего контроля</th>
                    {% endif %}

                    {% if extra_activities %}
                        <th colspan="{{ extra_activities|length }}">Дополнительные проверочные работы</th>
                    {% endif %}
                </tr>
                <tr>
                    {% for activity in main_activities %}
                        <th{% if activity.description %} title="{{ activity.description }}"{% endif %}>{{ activity.name }}</th>
                    {% endfor %}
                    {% for activity in extra_activities %}
                        <th rowspan="2"{% if activity.description %} title="{{ activity.description }}"{% endif %}>{{ activity.name }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for activity in main_activities %}
                        <th>{{ activity.weight }}</th>
                    {% endfor %}
                </tr>
            </thead>
        {% endwith %}
    {% endwith %}

    <tbody>
        {% for ur in data.user_results %}
            <tr{% if edit_mode %} data-membership="{{ ur.membership.id }}"{% endif %}{% if ur.user == user %} class="ir-me"{% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>{{ ur.user.last_name }}&nbsp;{{ ur.user.first_name }}</td>
                {% for r in ur.get_main_activity_results %}
                    <td class="{{ r.get_html_class }}"{% if edit_mode %} data-activity="{{ r.activity.id }}"{% endif %}>{{ r.get_html_contents }}</td>
                {% endfor %}

                {% if not edit_mode %}
                    <td class="ir-score"></td>
                {% endif %}

                {% for r in ur.get_extra_activity_results %}
                    <td class="{{ r.get_html_class }}"{% if edit_mode %} data-activity="{{ r.activity.id }}"{% endif %}>{{ r.get_html_contents }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

{% if edit_mode %}
    <script>
        $(document).ready(function() {
            function doCommit(cell, key, value) {
                var membership = cell.parents("tr").first().data("membership");
                var activity = cell.data("activity");
                var url = Urls["courses:course_sheet_edit_api"]({{ course.id }}, membership, activity);
                var data = {};
                data[key] = value;
                $.post(url, data);
            };
            function onCommit(cell, editor) {
                doCommit(cell, "mark", editor.val() || 0);
            }
            function onCommitSelect(cell, editor) {
                doCommit(cell, "enum", editor.val());
            }

            $('.ir-sheet-editable-mark').on('validate', function(evt, newValue) {
                return /^([1-9]|(10))?$/.test(newValue);
            });

            $('#sheet').editableTableWidget({
                walkableSelector: ".ir-sheet-editable",
                editableSelector: ".ir-sheet-editable-mark",
                editableSelectSelector: ".ir-sheet-editable-enum",
                editorSelect: $('<select>{% for value, text in choices %}<option value="{{ value }}">{{ text }}<\/option>{% endfor %}<\/select>'),
                onCommit: onCommit,
                onCommitSelect: onCommitSelect,
            });
        });
    </script>
{% else %}
    {% if permissions.sheet_edit %}
        <p>{% bootstrap_icon 'pencil' %} <span class="ir-icon-label"><a href="{% url 'courses:course_sheet_edit' course.id %}">{% trans 'Edit' %}</a></span></p>
    {% endif %}
{% endif %}

{% endblock %}
