{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_mass %}
{% load irunner_messagebox %}

{% block title %}{% trans 'Confirmation required' %}{% endblock %}

{% block content %}
    {% if object_list %}
        <h3>{% trans 'Confirmation required' %}</h3>

        <p>
            {% blocktrans %}Are you sure you want to {{ action }} these solutions?{% endblocktrans %}
        </p>

        <ul>
        {% for solution in object_list %}
            <li><a href="{% url 'solutions:main' solution.id %}">{{ solution.id }}</a></li>
        {% endfor %}
        </ul>

        <form method="post">
            {% csrf_token %}
            {% irunner_mass_hidden ids next %}
            {% buttons %}
                <button type="submit" class="btn btn-default">{% trans 'Confirm' %}</button>
            {% endbuttons %}
        </form>
    {% else %}
        {% irunner_messagebox style='danger' %}
            {% trans 'There are no solutions selected.' %}
        {% irunner_endmessagebox %}
    {% endif %}
{% endblock %}
