{% extends "base.html" %}

{% load i18n %}
{% load irunner_solutions %}
{% load irunner_storage %}

{% block title %}{% trans 'Judgement' %} {{ judgement.id }}{% endblock %}

{% block content %}
    <h2>
        {% irunner_solutions_judgementbox judgement %}
        {% trans 'Judgement' %} {{ judgement.id }}
        {% trans 'of solution' %} <a href="{% url 'solutions:main' judgement.solution_id %}">{{ judgement.solution_id }}</a>
    </h2>

    <dl class="dl-horizontal">
        <dt>{% trans 'State' %}</dt>
        <dd>{{ judgement.show_status }}</dd>

        <dt>{% trans 'Score' %}</dt>
        <dd>{{ judgement.score }} {% trans 'of' %} {{ judgement.max_score }}</dd>
    </dl>

    {% if test_results %}
        <h3>{% trans 'Test results' %}</h3>
        {% irunner_solutions_testresults test_results solution_permissions 'solutions:judgement_testcaseresult' judgement.id %}
    {% endif %}

    {% if logs %}
        <h3>{% trans 'Compilation log' %}</h3>
        {% for log in logs %}
            {% irunner_storage_show log %}
        {% endfor %}
    {% endif %}
{% endblock %}
