{% extends "solutions/solution.html" %}

{% load i18n %}
{% load irunner_storage %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block subtitle %}{% trans 'Source code' %}{% endblock %}

{% block head %}
    {% if language %}
        <script src="{% static 'Highlight.js/highlight.pack.js' %}"></script>
    {% endif %}
{% endblock %}

{% block main %}
    <p>
        <a class="btn btn-default btn-sm" href="{% url 'solutions:source_open' solution.id solution.source_code.filename %}" role="button">{% bootstrap_icon 'folder-open' %} <span class="ir-icon-label">{% trans 'Open' %}</span></a>
        <a class="btn btn-default btn-sm" href="{% url 'solutions:source_download' solution.id solution.source_code.filename %}" role="button">{% bootstrap_icon 'save' %} <span class="ir-icon-label">{% trans 'Download' %}</span></a>
    </p>

    {% irunner_storage_show source_repr language %} 

    {% if language %}
        <script>
            hljs.initHighlightingOnLoad();
        </script>
    {% endif %}
{% endblock %}
