{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_solutions %}
{% load irunner_problems %}
{% load irunner_users %}
{% load staticfiles %}

{% block title %}{% block subtitle %}{% endblock %} &mdash; {% trans 'Solution' %} {{ solution.id }}{% endblock %}

{% block content %}
<div class="panel panel-default ir-solution-panel">
    <div class="panel-body">
        <h2>
            {% irunner_solutions_judgementbox solution.best_judgement %}
            {% trans 'Solution' %} {{ solution.id }}
        </h2>
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>{% trans 'Author' %}</dt>
                    {% if solution_environment.course %}
                        <dd>
                            <a href="{% if solution.author == user %}{% url 'courses:my_solutions' solution_environment.course.id %}{% else %}{% url 'courses:all_solutions' solution_environment.course.id %}?user={{ solution.author.id }}{% endif %}">
                                {% irunner_users_show solution.author %}
                            </a>
                        </dd>
                    {% else %}
                        <dd>{% irunner_users_show solution.author %}</dd>
                    {% endif %}

                    {% if solution.problem %}
                        <dt>{% trans 'Problem' %}</dt>
                        {# What link to the problem is the best? #}
                        {% if solution_environment.course %}
                            <dd><a href="{% url 'courses:course_problems_problem' solution_environment.course.id solution.problem_id %}">{{ solution.problem.numbered_full_name }}</a></dd>
                        {% else %}
                            {# just name #}
                            <dd>{{ solution.problem.numbered_full_name }}</dd>
                        {% endif %}

                        <dt>{% trans 'Input&thinsp;/&thinsp;output' %}</dt>
                        <dd>{% irunner_problems_inputfile solution.problem.input_filename %}&thinsp;/&thinsp;{% irunner_problems_outputfile solution.problem.output_filename %}</dd>
                    {% endif %}

                    {% if solution_environment.course %}
                        <dt>{% trans 'Course' %}</dt>
                        <dd><a href="{% url 'courses:show_course_info' solution_environment.course.id %}">{{ solution_environment.course.name }}</a></dd>

                        {% if solution.best_judgement %}
                            <dt>{% trans 'Score' %}</dt>
                            <dd>{{ solution.best_judgement.score }} {% trans 'of' %} {{ solution.best_judgement.max_score }}</dd>
                        {% endif %}
                    {% endif %}
                </dl>
            </div>

            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>{% trans 'Submission time' %}</dt>
                    <dd>{{ solution.reception_time }}</dd>

                    {% if solution_permissions.ip_address and solution.ip_address %}
                        <dt>{% trans 'IP address' %}</dt>
                        <dd><tt>{{ solution.ip_address }}</tt></dd>
                    {% endif %}

                    <dt>{% trans 'File' %}</dt>
                    <dd><span class="ir-monospace">{{ solution.source_code.filename }}</span></dd>

                    <dt>{% trans 'Compiler' %}</dt>
                    <dd>{{ solution.compiler }}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="span12 text-center">
                <ul class="nav nav-pills ir-solution-nav-pills">
                    {% if solution_permissions.attempts %}
                        <li role="presentation"{% if active_tab == 'attempts' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:attempts' solution.id %}">{% trans 'Attempts' %}</a>
                        </li>
                    {% endif %}

                    {% if solution_permissions.source_code %}
                        <li role="presentation"{% if active_tab == 'source' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:source' solution.id %}">{% trans 'Source code' %}</a>
                        </li>
                    {% endif %}

                    {% if solution_permissions.compilation_log %}
                        <li role="presentation"{% if active_tab == 'log' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:log' solution.id %}">{% trans 'Compilation log' %}</a>
                        </li>
                    {% endif %}

                    {% if solution_permissions.judgements %}
                        <li role="presentation"{% if active_tab == 'judgements' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:judgements' solution.id %}">{% trans 'Judgements' %}</a>
                        </li>
                    {% endif %}

                    {% if solution_permissions.results %}
                        <li role="presentation"{% if active_tab == 'tests' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:tests' solution.id %}">{% trans 'Test results' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% block main %}
{% endblock %}

{% endblock %}
